:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --header1-color: #db00ff;
  --header2-color: var(--accent-color);
  --header3-color: var(--background-color);
  --is-light: visible;

}