/* ========== COMMON ========== */

.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-attachment: fixed;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  border-block-start: 1px solid var(--decoration-color);
  border-inline-end: 1px solid var(--decoration-color);
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  border-block-end: 1px solid var(--decoration-color);
  border-inline-start: 1px solid var(--decoration-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:focus-visible {
  outline: none;
}

.title_decor {
  grid-column: 1 / 4;
  color: var(--header3-color);
  background-color: var(--accent-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

/* ========== HEADER ========== */

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header__decoration-dark {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-self: end;
  align-self: flex-start;
  block-size: 25px;
  position: absolute;
  visibility: var(--is-light);
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  text-transform: uppercase;
  line-height: 25px;
}

.header__decoration-dark::after {
  content: "";
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-end: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu {
  grid-column: 1 / 3;
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--decoration-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--decoration-color);
}

.header__title {
  grid-column: 1 / 3;
  justify-self: start;
  color: var(--header1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--small-line-height);
}

.header__text {
  grid-column: 1 / 3;
  justify-content: end;
  display: inline-block;
}

/* ========== MAIN ========== */

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 50px;
  margin-block: 40px;
  padding-inline: 10px;
}

.partition {
  display: grid;
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.partition__title {
  grid-column: 1 / 4;
  color: var(--header2-color);
  font-size: var(--regular-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--large-line-height);
}

.partition__card {
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-flow: row;
  row-gap: 10px;
  grid-column: 1 / 4;
}

.card__text {
  grid-column: 1 / 4;
  color: var(--text-color);
  font-size: var(--regular-font-size);
  line-height: var(--large-line-height);
}

.partition-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 10px;
  grid-column: 1 / 4;
}

.partition__image {
  grid-column: 1 / 4;
  width: 100%;
  height: 100%;
}


.thin-title {
  font-weight: var(--regular-font-weight);
}

/* ========== FOOTER ========== */

.footer {
  display: grid;
  padding: 10px;
  block-size: 100vh;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--header1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
}

/* ========== MOBILE ADAPTATION ========== */

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    position: relative;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 2 / 3;
  }

  .main {
    row-gap: 80px;
    margin-block: 60px;
    padding-inline: 20px;
  }

  .partition {
    grid-template-columns: 1fr 2fr;
  }

  .partition__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .partition__card {
    grid-column: 2 / 3;
  }

  .partition:nth-child(2) .partition__card {
    grid-column: 1 / 4;
  }

  .partition > .title_decor {
    grid-column: 2 / 3;
  }

  .partition-pictures {
    gap: 20px;
  }

  .partition__image {
    object-fit: cover;
    object-position: center;
  }

  .partition__image:nth-child(2) {
    grid-column: 1 / 3;
  }

  .partition__image:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .partition__image:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .partition__image:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .partition__image:nth-child(6) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .text-link:hover {
    border-bottom: 1px solid var(--text-color);
  }

  .text-link:focus {
    outline: none;
  }

  .text-link:focus-visible {
    outline: 1px solid var(--text-color);
    outline-offset: -1px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
    border: 1px solid var(--accent-color-opacity);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--decoration-color);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .partition {
    grid-template-columns: repeat(3, 1fr);
  }


  .partition__card {
    grid-column: 2 / 4;
  }

  .partition:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);

  }

  .partition:nth-child(2) .partition__title {
    grid-row: span 1;
  }

  .partition:nth-child(2) .partition__card {
    grid-row: 2 / 3 ;
    grid-column: span 1;
  }

  .partition > .title_decor {
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}